
.card-dogs{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}

.btn {
    width: 20%;
  background-color:  #852a2a;
  color: black;
  padding: 10px 10px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font: 1vw 'Acme', sans-serif;
    
  }

.selec{
    
    width: 20%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid rgb(223, 18, 18);
  border-radius: 4px;
  box-sizing: border-box;
  font: lighter 1vw'Acme', sans-serif;
  color: black;
  background-color:  #852a2a;
}

.link{
  color: white;
  border-bottom: 1px solid white;
}

